*{
    margin:0;
    padding:0;
}

h1{
    color:white;
    font-family: 'Quicksand', sans-serif;
    font-size:5rem;
    font-weight:lighter;
}
body{
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color:#43766C;
}

.button-container{
    display:flex;
    justify-content:space-around;
    width:60%;
    margin-top:4rem;
}

img{
    border-radius:50%;
    height:12rem;
    width:12rem
}
img:hover{
    opacity:0.5;
}
.score-container{
    display:flex;
    width:20%;
    justify-content:space-around;
    margin-top:4rem;
    color:white;
    font-family: 'Quicksand', sans-serif;
    font-size:1rem;
    font-weight:lighter;
}
.scr{
    height:7rem;
    width:7rem;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.msg-container{
    text-align:center;
    width:10%;
    font-family: 'Quicksand', sans-serif;
    background-color:#F8FAE5;
    color:#B19470;
    height:3rem;
    font-size:2rem;
    border-radius:20px;
    font-weight:bold;
}
.hidden
{
    visibility:hidden;
}

